@font-face {
    font-family: 'FiraCode';
    font-display: swap;
    src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
    font-weight: 200;
	font-display: swap;
	src: url('https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-2/AlibabaPuHuiTi-2-55-Regular/AlibabaPuHuiTi-2-55-Regular.woff2') format('woff2');
}
