@font-face {
  font-family: "iconfont"; /* Project id 4004111 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1682837865742') format('woff2'),
       url('iconfont.woff?t=1682837865742') format('woff'),
       url('iconfont.ttf?t=1682837865742') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian:before {
  content: "\e653";
}

.icon-shouye:before {
  content: "\e623";
}

.icon-gerenxinxi:before {
  content: "\e611";
}

.icon-fenlei:before {
  content: "\efda";
}

.icon-rili:before {
  content: "\e606";
}

.icon-sousuo:before {
  content: "\e723";
}

.icon-gmail:before {
  content: "\e60b";
}

.icon-QQ1:before {
  content: "\e667";
}

.icon-biji:before {
  content: "\e63d";
}

